body {
    background-color: #dbf1ea;
    /*background-image: url('../img/pattern-rift-rings.png');*/
    background-image: url(../img/volna-11-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}